40+-]098uy76t75r 4342e46t7p896//* Font imports */*6
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  /* background: rgb(252, 252, 252); */
}


hr{
  border-bottom: 1   jkdbiudsfsjbdfknpx solid steelblue;
}
.container {-
  max-width: 85%;
  margin: 0 auto;
}

/* Header */

header {
  height: 60px;
  width: 100%;
  display: block;
  background: #394650;
  font-size: 1.7rem;
}

ul.nav-items {
  float: right;
  box-sizing: border-box;
  margin: 0;
  transition: all 300ms ease-in-out;
}

.nav-items li {
  display: inline-block;
}
-
small.err {
  display: block;
  font-size: 1.3rem;
  color: red;
  margin-top: -18px;
  margin-bottom: 20px;
  transition: all 1s ease-in;
  animation: fadein 2s;
  font-weight: 600;
}

#loadme {
  margin: 0 auto;
}

#loadme img {
  text-align: center;
  margin: 0 auto;
  display: none;
}

#err {
  background: rgba(129, 129, 233, 0.479);
  padding: 8px;
  margin: 0 auto;
  display: none;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 22px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.none {
  display: none;
}

#testme {
  background: rgb(103, 219, 113);
  padding: 12px;
  transition: all 2s ease-in;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.nav-items a {
  line-height: 60px;
  padding: 0 30px;
  color: #fff;
  margin: 0;
  text-decoration: none;
}

header a {
  line-height: 60px;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
}

.bar {
  color: #fff;
  float: right;
  display: none;
  cursor: pointer;
  line-height: 60px;
  padding-right: 20px;
}

@media (max-width: 800px) {
  header {
    transition: all 300ms ease-in-out;
  }

  header ul {
    padding: 0;
    transition: all 300ms ease-in-out;
  }

  .nav-items {
    font-size: 1.6rem;
    width: 100%;
  }

  .show-items {
    display: none;
    transition: all 300ms ease-in-out;
  }

  .nav-items li {
    transition: all 300ms ease-in;
    text-align: center;
    display: block;
  }

  .nav-items a {
    display: block;
    padding: 0;
    transition: all 300ms ease-in-out;
    background-color: #384753;
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  .bar {
    color: #fff;
    float: right;
    display: block;
  }
}

footer {
  height: 40px;
  background: #394650;
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  padding: 1rem;
  left: 0;
  font-size: 1.5rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#loading{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .1s ease-in;
}

.load-id{
  width: 140px;
}