/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Dosis:500');

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: rgb(243, 243, 243);
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

/* Header */
/* Header */
header {
  height: 60px;
  width: 100%;
  display: block;
  background-color: rgb(39, 39, 39);
}

ul.nav-items {
  float: right;
  box-sizing: border-box;
  margin: 0;
  transition: all 300ms ease-in-out;
}

.nav-items li {
  display: inline-block;
}

.nav-items a {
  line-height: 60px;
  padding: 0 30px;
  color: #fff;
  margin: 0;
  text-decoration: none;
}

header span {
  line-height: 60px;
  color: #fff;
  padding: 0 30px;
}

.bar {
  color: #fff;
  float: right;
  display: none;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-around;
}

.column-20 {
  flex: 16.66%;
}

.column-25 {
  flex: 25%;
}

.column-50 {
  flex: 50%;
}

.column-75 {
  flex: 75%;
}

.text {
  line-height: 1.7;
  font-size: 1.7rem;
}
/* Button */
.btn-sm {
  color: white;
  padding: 15px 25px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 1.7rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}

.btn-dark {
  background-color: #394650;
}

.btn-light {
  color: rgb(34, 34, 34);
  border: 1px solid #000;
}

.btn-mr {
  margin-right: 10px;
}

/* Button  */

/* HomePage */


.main-content {
  background-image: linear-gradient(rgba(247, 247, 247, 0.526), rgba(218, 218, 218, 0.938)),
    url('../img/mountain.jpg');
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

hr{
  margin: -10px !important;
}

.main-inner {
  position: absolute;
  top: 28%;
}

@keyframes myanimate {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

.first-heading {
  transition: all 300ms ease-in-out;
  animation: myanimate 4s infinite;
  padding: 50px;
}

.heading {
  line-height: 1.6;
  font-weight: 600;
}

.heading h2 {
  color: #c07079;
  margin: 0px;
  font-family: 'Dosis', sans-serif;
  font-size: 13rem;
}

.how {
  flex: 1;
  padding: 25px;
}

.how > div {
  padding: 10px 10px;
  background: #394650;
  color: #fff;
  display: block;
  width: 10%;
  text-align: center;
  border-right: 5px solid #c07079;
  margin: 10px 0;
}

.mc {
  text-align: center;
  margin: 45px;
}


.how-it-works h3 {
  text-align: center;
  background: #c07079;
  padding: 5px;
  display: block;
  margin: 8px auto;
  width: 20%;
  border-bottom: 3px solid #394650;
  color: #fff;
  font-weight: 500;
}

footer {
  height: 40px;
  background: #272727;
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  padding: 1rem;
  left: 0;
  font-size: 1.5rem;
}

.heading p {
  margin: -10px 0;
  padding: 0;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

@media (max-width: 332px) {
  .heading p {
    margin: -10px 0;
    padding: 0;
    font-size: 2rem;
    word-spacing: 0em;
  }

  .how-it-works h3 {
    width: 60%;
  }

  .btn-sm {
    padding: 8px 7px;
  }
}

@media (max-width: 700px) {
  .heading p {
    margin: -10px 0;
    padding: 0;
    font-size: 2rem;
    word-spacing: 0em;
  }

  .btn-sm {
    padding: 8px 7px;
  }
}

@media (max-width: 1050px) {
  .heading p {
    margin: -10px 0;
    padding: 0;
    font-size: 2rem;
    word-spacing: 0em;
    letter-spacing: 0;
  }

  .heading h2 {
    font-size: 7rem;
    padding: 10px;
  }

  .first-heading {
    padding: 0;
  }
}

@media (max-width: 1050px) {
  .mc {
    margin: 0px;
    padding: 20px;
  }

  .how-it-works {
    padding-bottom: 90px;
  }

  .how-it-works h3 {
    width: 40%;
  }

  .row {
    display: block;
  }
}
